# <font color="#000132"><b>Pengumpulan Data</b></font>

**Dokumentasi modul**:``https://pypi.org/project/google-play-scraper/``

**Lokasi dataset**: ``https://play.google.com/store/apps/details?id=com.mobile.legends&hl=id``

In [ ]:
import pandas as pd
from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.mobile.legends',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.NEWEST
    count=100,
    filter_score_with=5
)

## Lanjutkan scraping data

In [ ]:
# If you pass `continuation_token` as an argument to the reviews function at this point,
# it will crawl the items after 3 review items.

result, _ = reviews(
    'com.mobile.legends',
    continuation_token=continuation_token # defaults to None(load from the beginning)
)

## Simpan data

In [1]:
import csv
import pandas as pd

In [ ]:
df = pd.DataFrame(result)

In [ ]:
# Ambil atribut content
df_content = df[['content','score']]

print(f"Sebelum diubah : {type(df_content)}")

# Jadikan dataframe
df_content = pd.DataFrame(df_content)
print(f"Setelah diubah : {type(df_content)}")

In [ ]:
df_content.head()

In [ ]:
df_content.to_csv('ml_3score.csv', index = False)

### Sampel

In [ ]:
import pandas as pd

``negative_mlbb_reviews.csv``  
``neutral_mlbb_reviews.csv``  
``positive_mlbb_reviews.csv``

In [ ]:
dt_positif = pd.read_csv("positive_mlbb_reviews.csv")
dt_negatif = pd.read_csv("negative_mlbb_reviews.csv")
dt_netral = pd.read_csv("neutral_mlbb_reviews.csv")

In [ ]:
df_sampel = pd.concat([dt_positif, dt_negatif, dt_netral], ignore_index=True)

In [ ]:
df_filter = df_sampel[['content', 'label']]

df_filter = pd.DataFrame(df_filter)

df_filter.to_csv("ml_sampel.csv", index=False)

- #### Sampel kata

In [6]:
negatif = pd.read_csv("sampel/negative_words.csv")
positif = pd.read_csv("sampel/positive_words.csv")
netral = pd.read_csv("sampel/neutral_words.csv")

In [7]:
sampel_kata = pd.concat([netral, negatif, positif], ignore_index=True)

In [8]:
sampel_kata.head()

   content   label
0      oke  netral
1       ok  netral
2    biasa  netral
3     umum  netral
4  standar  netral

In [9]:
# Misalnya ada juga nilai "negatif" yang ingin diubah
sampel_kata['label'] = sampel_kata['label'].replace({
    'negatif': 'negative',
    'positif': 'positive',
    'netral': 'neutral'
})

In [10]:
sampel_kata.head()

   content    label
0      oke  neutral
1       ok  neutral
2    biasa  neutral
3     umum  neutral
4  standar  neutral

In [12]:
sampel_kata.to_csv('sampel/sampel_kata.csv', index = False)

In [13]:
df_s1 = pd.read_csv('sampel/sampel_bersih.csv')
df_s2 = pd.read_csv('sampel/sampel_kata.csv')

In [14]:
sampel = pd.concat([df_s1, df_s2], ignore_index=True)

In [15]:
sampel.shape

(606, 2)

In [17]:
sampel.to_csv('sampel/sampel_gabungan.csv', index = False)